/* 전체 선택자 */
/* *{
  ...
} */
/* 요소선택자 */
/* body{

} */
/* class 선택자 */
/* .selector{

} */
/* id선택자 */
/* #selector{

} */
/* 속성 선택자 */
/* [title]{

} */
.box{
  border: 1px solid red;
}
/* 가상선택자 */
.box::before{
  content: "첫번째 자식요소";
}
.box::after{
  content: "마지막 자식요소";
}